<form method="post" action="/celebrities/create">
    {{!-- NAMES attributes ARE MANDATORY --}}
    <p>
        <label for="">name</label>
        <input name="name" type="text">
    </p>
    <br>
    <p>
        <label for="">occupation</label>
        <input name="occupation" type="text">
    </p>
    <br>
    <p>
        <label for="">Catch Phrase </label>
        <input name="catchPhrase" type="text">
    </p>
    <button>ok</button>
</form>
