<form method="post" action="/movies/{{movies._id}}/edit">
  {{! NAMES attributes ARE MANDATORY }}
  <p>
    <label for="">title</label>
    <input name="title" type="text" />
  </p>
  <br/>
  <p>
    <label for="">genre</label>
    <input name="genre" type="text" />
  </p>
  <br/>
  <p>
    <label for="">plot</label>
    <input name="plot" type="text" />
  </p>
  <br/>
  {{!-- <p>
    <label for="select-cast">cast</label>
    <select id="select-cast" name="celebrities" class="input">
      {{! YOUR CODE HERE }}
      {{#each}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </p> --}}

  <button>ok</button>
</form>